<h1>Example code</h1>
<pre>
def move(snake1=None, snake2=None, food=None, data=None, board_width=None, board_height=None):
    from collections import namedtuple
    Point = namedtuple('Point', 'x y') # point instances
    return 'u' # 'l', 'u', 'r', 'd' possible
</pre>